:host {
  height: .75rem;
  width: 100%;
  display: flex;
  column-gap: .25rem;

  border-top: solid black 1px;
  border-bottom: solid black 1px;
  opacity: .9;
  overflow: hidden;

  .sleeper {
    margin-top: -.25rem;
    width: 0.15rem;
    height: 1.25rem;
    background-color: #8B4513;
    transform: rotate(45deg);
    transform-origin: center;
    opacity: 0.7;
  }
}