@if (isPortrait()) {
  <div class="orientation-warning">
    <div class="message">
      請將螢幕轉成橫向以繼續操作
    </div>
  </div>
} @else {
  <div class="container">
    <div class="top">
      <app-railway></app-railway>
    </div>
    <app-train [ngClass]="{'active': isActive()}"></app-train>
    
    <div class="center">
      @if (!isFinish()) {
          <button mat-button (click)="start()" [disabled]="isGoing()">出發</button>
        }
  
        @if (isFinish()) {
          <button mat-button (click)="reset()">重新抽選</button>
        }
        <app-lottery 
          [lotterySubject]="lotterySubject" 
          [resetSubject]="resetSubject" 
          [time]="time"
          (lottoChange)="onLottoChange($event)"
        ></app-lottery>
      <div class="lottery">
        
      </div>
  
      @if (lottoList.length > 0) {
        <div class="lotto-result">
          <span>前次抽選結果：</span>
          <ul>
            @for(lotto of lottoList; track $index ) {
              <li> {{ lotto.region }}: {{ lotto.name }}</li>
            }
          </ul>
        </div>
      }
    </div>

    <div class="bottom">
      <app-railway [ngStyle]="{top: 'initial', bottom: '4rem', position: 'absolute'}"></app-railway>
      <div class="station" [ngClass]="{'active': isActive()}"> 
        <img src="assets/images/railway-station.png" width="150"> 
      </div>
    </div>
  </div>
}
