@if (isPortrait()) {
  <div class="orientation-warning">
    <div class="message">
      請將螢幕轉成橫向以繼續操作
    </div>
  </div>
} @else {
  <div class="container">
    <div class="top">
      <app-railway></app-railway>
    </div>

    @if (isMobile()) {
      <app-train class="train-modile-mode" [ngClass]="{'active': isActive()}"></app-train>
    } @else {
      <app-train class="train" [ngClass]="{'active': isActive()}"></app-train>
    }
    
    <div class="center">
    @if (!isActive()) {
      <button mat-button (click)="start()" class="start" [disabled]="isGoing()">出發</button>
    }
      <app-lottery 
        [lotterySubject]="lotterySubject" 
        [resetSubject]="resetSubject" 
        [time]="time"
        (lottoChange)="onLottoChange($event)"
      ></app-lottery>
    </div>

    <div class="bottom">
      @if(isFinish()) {
        <button mat-icon-button class="reset-button" (click)="reset()">
          <mat-icon>refresh</mat-icon>
        </button>
      }
      <app-railway [ngStyle]="{top: 'initial', bottom: '4rem', position: 'absolute'}"></app-railway>
      <div class="station" [ngClass]="{'active': isActive()}"> 
        <img src="assets/images/jp-arrived.png" width="200"> 
      </div>
    </div>
  </div>
}
