:host {
  display: flex;
  column-gap: 6px;
  flex-direction: row-reverse;
  position: absolute;
  z-index: 2;
  left: -410px;


  &.active {
    animation: trainWalk 10s ease-in-out forwards;
  }

  @keyframes trainWalk {
    0% {
      transform: translate(0, 0);
    }
    40% {
      transform: translate(110vw, 0); /* 第一段出畫右方 */
      opacity: 0.7;
    }
    45% {
      transform: translate(110vw, calc(100vh - 12.5rem));
      opacity: 0;
    }
    55% {
      transform: translate(-300px, calc(100vh - 12.5rem)); /* 左下角外進入準備 */
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    100% {
      transform: translate(60vw, calc(100vh - 12.5rem)); /* 右下角停住 */
    }
  }

  .base-train-carriage {
    display: block;
    position: relative; 
    width: 7.5rem;
    height: 3.75rem;
    background: #d22;
    margin-left: .625rem;
    border-radius: .25rem;

    // @media screen and (min-width: 600px)  {
    //   width: calc(7.5rem / 2);
    //   height: calc(3.75rem / 2);
    // }
  }
}