:host {
  display: flex;
  column-gap: 6px;
  flex-direction: row-reverse;
  position: absolute;
  z-index: 2;
  left: -390px;
  top: calc(
    30vh - (15px + 5.125rem)
  ); // top區塊高度 - (3.75(車廂) + 0.625(輪胎) + 0.75(鐵軌))

  &.active::ng-deep {
    .smoke {
      animation: chimneySmokeUp 2.5s ease-out infinite;
    }
  }

  @media screen and (max-height: 435px) {
    top: calc(40vh - (15px + 5.125rem));
  }

  @keyframes chimneySmokeUp {
    0% {
      opacity: 0.7;
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateY(-40px) scale(2);
    }
  }

  .base-train-carriage::ng-deep {
    display: block;
    position: relative;
    width: 7.5rem;
    height: 3.75rem;
    background: #d22;
    margin-left: 0.25rem;
    border-radius: 0.25rem;

    &::after {
      content: "";
      width: 2px;
      height: 1px;
      background-color: #fff;
    }

    .window {
      position: absolute;
      top: 1rem;
      border: 0.125rem solid #fff;
      background-color: #88c;
      border-radius: 0.25rem;
    }

    /* 輪胎 */
    .wheel {
      position: absolute;
      width: 1.25rem;
      height: 1.25rem;
      bottom: -0.625rem;
      background: #333;
      border-radius: 50%;

      &.left {
        left: 0.625rem;
      }

      &.right {
        right: 0.625rem;
      }
    }

    /* 煙囪 */
    .chimney {
      position: absolute;
      width: 0.9375rem;
      height: 1.5625rem;
      top: -1.5625rem;
      right: 1.25rem;
      background-color: #333;
      border-radius: 0.125rem;
    }

    /* 煙霧 */
    .smoke {
      position: absolute;
      width: 0.625rem;
      height: 0.625rem;
      right: 0.9375rem;
      top: -2.5rem;
      background-color: #ccc;
      border-radius: 50%;
      opacity: 0;
    }
  }
}