:host {
  display: flex;
  column-gap: 6px;
  flex-direction: row-reverse;
  position: absolute;
  z-index: 2;
  left: -390px;


  &.active::ng-deep {
    animation: trainWalk 10s ease-in-out forwards;

    .smoke {
      animation: chimneySmokeUp 2.5s ease-out infinite;
    }
  }

  @keyframes trainWalk {
    0% {
      transform: translate(0, 0);
    }
    40% {
      transform: translate(calc(520px + 100vw), 0); /* 第一段出畫右方 */
      opacity: 0.7;
    }
    45% {
      transform: translate(calc(520px + 100vw), calc(100vh - 12.5rem));
      opacity: 0;
    }
    55% {
      transform: translate(-300px, calc(100vh - 12.5rem)); /* 左下角外進入準備 */
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    100% {
      transform: translate(60vw, calc(100vh - 12.5rem)); /* 右下角停住 */
    }
  }

  @keyframes chimneySmokeUp {
    0% {
      opacity: 0.7;
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateY(-40px) scale(2);
    }
  }

  .base-train-carriage::ng-deep {
    display: block;
    position: relative; 
    width: 7.5rem;
    height: 3.75rem;
    background: #d22;
    margin-left: .25rem;
    border-radius: .25rem;

    &::after {
      content: '';
      width: 2px;
      height: 1px;
      background-color: #fff;
    }

    .window {
      position: absolute;
      top: 1rem;
      border: .125rem solid #fff;
      background-color: #88c;
      border-radius: .25rem;
    }

    /* 輪胎 */
    .wheel {
      position: absolute;
      width: 1.25rem;
      height: 1.25rem;
      bottom: -.625rem;
      background: #333;
      border-radius: 50%;

      &.left {
        left: .625rem;
      }

      &.right {
        right: .625rem;
      }
    }

    /* 煙囪 */
    .chimney {
      position: absolute;
      width: 0.9375rem;
      height: 1.5625rem;
      top: -1.5625rem;
      right: 1.25rem;
      background-color: #333;
      border-radius: 0.125rem;
    }

    /* 煙霧 */
    .smoke {
      position: absolute;
      width: .625rem;
      height: .625rem;
      right: .9375rem;
      top: -2.5rem;
      background-color: #ccc;
      border-radius: 50%;
      opacity: 0;
    }
  }
}